.link {
  stroke: #666;
}

.link.dotted {
    stroke: #ccc;
    stroke-dasharray: 5 5;
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
}

.link.involed {
    stroke: red;
}
.event-line {
    stroke: transparent;
    stroke-width: 15;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
}
.node.primary circle{
    stroke: red;
}
.node.involed use{
    stroke: orange;
}
.node.involed text{
    stroke: orange;
}
.node.group-male {
    stroke: rgb(3,210,255);
}

.node.group-female {
    stroke: rgb(250,43,111);
}


.hidden {
    display: none;
}

.link-tip, .node-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #03d2ff;
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.link-tip:after, .node-tip:after {
    display: inline;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #03d2ff;
    content: "\25BC";
    text-align: center;
}
